*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background-color: #FFF;
  color: #666;
  line-height: 1.6;
}

body a {
  transition: 0.3s all;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: 'nexa_boldregular';
  src: url('/fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
